<div class="activite">
	<div class="activite-img">
		<img src="{{ asset('bundles/content/treks/thumbnail/air_pur_plaisirs_gourmands_vignette.jpg') }}"/>
	</div>
	<a href="">
		<div class="activite-nom">
			CLEAN AIR AND GOOD FOOD
		</div>
	</a>
	<div class="activiteContent">
		<div class="activite-content">
			<div class="row">
				<div class="col-md-6">
					<h2>CLEAN AIR AND GOOD FOOD</h2>
					<br>
					<span class="activite-sous-titre">Example for a family  (2 adults with a Half-Fare Travelcard and 2 children from 6 to 16 years) leaving from Bulle</span>
					<br>
					<p>
						09:33 a.m.: Train to Châtel-St-Denis (arrival at 09:56 a.m.)<br>
						10:03 a.m.: Bus to Les Paccots (arrival at 10:13 a.m.)
					</p>
					<p><i>
						Arrived in Les Paccots, go to Sport’Yves in order to rent snowshoes and sticks. The didactic path “Rand’Eau” will allow you to walk during 1.15 hours in a dream setting while learning interesting facts about water.  After the effort, relaxation! The Auberge du Lac des Joncs will treat you delicious local specialties. In the afternoon, the indoor ice rink of Les Paccots will promise you good time of fun. The biggest will not be able to resist to a massage at the Espace Santé et Bien-être in Les Paccots (30% discount on every care with the FriPass).
					</i></p>
					<p>
						05:40 p.m.: Bus to Châtel-St-Denis (arrival at 05:53 p.m.)<br>
						06:00 p.m.: Train to Bulle (arrival at 06:27 p.m.)
					</p>
					<br>
					<p><strong>Price for a family (2 adults with a Half-Fare Travelcard and 2 children from 6 to 16 years) leaving from Bulle</strong></p>
					<ul class="ptn-interet">
						<li>Without FriPass: CHF 145.60</li>
						<li>With FriPass: CHF 90.00</li>
					</ul>
					<br>
					<p><a class="rando-iti-link colorED891E" href="http://www.tpf.ch/en" target="_blank">> Public transport timetables</a></p>
				</div>
				<div class="col-md-6">
					<p class="pull-right"><img src="{{ asset('bundles/content/treks/air_pur_plaisirs_gourmands.jpg') }}" alt=""/></p>
				</div>
			</div>
		</div>
	</div>
</div>