<div class="activite">
	<div class="activite-img">
		<img src="{{ asset('bundles/content/treks/thumbnail/balade_exotique_vignette.jpg') }}"/>
	</div>
	<a href="">
		<div class="activite-nom">
			EXOTIC LAKESIDE ADVENTURE
		</div>
	</a>
	<div class="activiteContent">
		<div class="activite-content">
			<div class="row">
				<div class="col-md-6">
					<h2>EXOTIC LAKESIDE ADVENTURE</h2>
					<br>
					<span class="activite-sous-titre">Example for a family with half-fare travel card departing from Payerne (2 adults and 2 children between 6 and 16 years old)</span>
					<br>
					<p>
						08:18: Train for Kerzers, Papiliorama (arrives at 09:08)
					</p>
					<p><i>
						Papiliorama train station is located two minutes’ walk from the attraction. Once inside, explore three domes housing brightly coloured butterflies, beautiful exotic flowers and nocturnal tropical animals. At 10:51, take the train for Morat for a dinner cruise on the lake. When you return to shore, hop on the tourist train and visit the old town.
					</i></p>
					<p>
						16:21: Train for Payerne (arrives at 16:41)
					</p>
					<br>
					<p><strong>Price for a family with a half-fare travel card</strong></p>
					<ul class="ptn-interet">
						<li>Without FriPass: CHF 208.20</li>
						<li>With FriPass: CHF 90.00</li>
					</ul>
					<br>
					<p><a class="rando-iti-link colorED891E" href="http://www.tpf.ch/en" target="_blank">> Public transport timetables</a></p>
				</div>
				<div class="col-md-6">
					<p class="pull-right"><img src="{{ asset('bundles/content/treks/balade_exotique.jpg') }}" alt=""/></p>
				</div>
			</div>
		</div>
	</div>
</div>