<div class="activite">
	<div class="activite-img">
		<img src="{{ asset('bundles/content/treks/thumbnail/culture_papier_peint_vignette.jpg') }}"/>
	</div>
	<a href="">
		<div class="activite-nom">
			CULTURE AND WALLPAPER
		</div>
	</a>
	<div class="activiteContent">
		<div class="activite-content">
			<div class="row">
				<div class="col-md-6">
					<h2>CULTURE AND WALLPAPER</h2>
					<br>
					<span class="activite-sous-titre">Example for an adult leaving from Châtel-St-Denis</span>
					<br>
					<p>
						09:29 a.m.: Train to Palézieux (arrival at 09:40 a.m.)<br>
						09:50 a.m.: Train to Romont (arrival at 10:05 a.m.)
					</p>
					<p><i>
						Leave the train and slope gently upwards the hill of Romont. Discover the cobblestoned lanes of this town. Arrived at the castle, enter a world of glass and colors thanks to the Vitromusée, the Swiss Museum of Stained Glass and Glass Art. After its visit, walk on the stained glass trail until Mézières (duration: 2.40 hours) where you will be able to visit the Wallpaper Museum and admire extremely rare items.
					</i></p>
					<p>
						04:04 p.m.: Bus from Mézières (FR) to Bulle (arrival 04:40 p.m.) 
					</p>
					<p><i>
					Make a last trip in the town of Bulle and do not forget to taste one of the many culinary specialties of the region!
					</i></p>
					<p>
						06:33 p.m.: Train to Châtel-St-Denis (arrival at 06:56 p.m.)
					</p>
					<br>
					<p><strong>Price for an adult leaving from Châtel-St-Denis</strong></p>
					<ul class="ptn-interet">
						<li>Without FriPass: CHF 50.60</li>
						<li>With FriPass: CHF 40.00</li>
					</ul>
					<br>
					<p><a class="rando-iti-link colorED891E" href="http://www.tpf.ch/en" target="_blank">> Public transport timetables</a></p>
				</div>
				<div class="col-md-6">
					<p class="pull-right"><img src="{{ asset('bundles/content/treks/culture_papier_peint.jpg') }}" alt="Itinéraire culture et papier peint"/></p>
				</div>
			</div>
		</div>
	</div>
</div>