<h3>MOST FREQUENTLY ASKED QUESTIONS</h3>
<p><strong>What is the FriPass?</strong>
<br>The FriPass is a touristic pass including public transport in the whole canton of Fribourg (Frimobil area) as well as the access to 30 attractions for free and 30% discount to 3 <a href="Lien sur les activités" target="_blank">partners</a>. It is valid during 1, 2 or 3 days to choose in one month.</p>
<p><strong>Where can the FriPass be bought?</strong>
<br>It can be bought <a href="Lien achat en ligne" target="_blank">online</a>, as well as to the TPF counters, the regional tourist offices, some accommodation sites and to the Swiss Federal Railways counters through a RailAway offer. <a href="Liste des points de vente" target="_blank">Detailed sales points.</a></p>
<p><strong>Is there a limited number of attractions I can visit during one day?</strong>
<br>No, you can visit as many attractions as you want.</p>
<p><strong>Can I visit the same attraction many times?</strong>
<br>No, you can only visit each attraction once with your FriPass.</p>
<p><strong>Will I save money thanks to the FriPass?</strong>
<br>Yes. A full-price public transport ticket for the entire region already costs CHF 33.60. For some additional coins, you can visit for free 30 touristic sites and have discounts on activities.</p>
<p><strong>Must the FriPass be used on 2 or 3 consecutive days?</strong>
<br>No, the FriPass for 2 or 3 days can be used on the dates of your choice. However, it must be useable within the month following the first use, which means that there can be a maximum of 31 days between the first and the last dates of use (for example: if the first date of use is on July 13th, the last date of use can be at the latest on August 13th).</p>
<p><strong>I have bought a FriPass  for 3 days and I would like to use it on June 6th, June 17th and July 14th. Is it possible?</strong>
<br>No, it is not possible. The dates of the first and the last use must be separated by a maximum of one month. In this situation, you can only use your FriPass until July 6th.</p>
<p><strong>What is the age limit for a children FriPass?</strong>
<br>The children FriPass is intended for children from 6 to 16 years (before 16th birthday). Children under 6 years (before 6th birthday) accompanied by an adult with a FriPass can access all activities included in the pass free of charge (maximum 2 children per adult), except for Les Bains de la Gruyère where the children from 4 to 6 years can benefit 30% discount on the admission to the baths. Children from 6 to 16 years can also use the public transport of all Frimobil areas for free.</p>
<p><strong>Is a family relationship necessary to buy the Family FriPass?</strong>
<br>No, the Family FriPass is valid for 2 adults and 2 children, no matter if there is a family relationship between them.</p>
<p><strong>Which offer do we choose if we are a family with 3 children from 6 to 16 years old?</strong>
<br>You can choose a Family FriPass (2 adults + 2 children 6 to 16 years) and a children FriPass.</p>
<p><strong>Is there a discount for families with a public transport abonnement?</strong>
<br>No, the rate for the Family FriPass is very attractive and there is no other discount possible.</p>
<p><strong>Is there a discount for children with a public transport abonnement?</strong>
<br>No, all children from 6 to 16 years pay the same price.</p>
<p><strong>I received a FriPass as a gift, how much time do I have to use it?</strong>
<br>The FriPass are valid one year from the date of issue. You have to check the date of issue printed on your FriPass.</p>
<p><strong>I have a 3 zones Frimobil abonnement, can I buy a FriPass for CHF 30.-?</strong>
<br>No, the FriPass for CHF 30.- is made for general abonnement, hare-fare, all zones Frimobil abonnement or Swiss Travel Pass holders. The abonnement has to be shown at each check.</p>
<p><strong>How can I do if I lose my FriPass?</strong>
<br>The FriPass can not be exchanged nore replaced. You can reprint it if you have ordered it via the online shop.</p>
<h3>PUBLIC TRANSPORT</h3>
<p><strong>Where can we travel free of charge with the FriPass?</strong>
<br>You can travel free of charge in the whole <a href="Lien sur la carte du canton" target="_blank">Frimobil network.</a></p>
<p><strong>Can I travel with all transports companies in the canton of Fribourg?</strong>
<br>Yes, you can travel with all transport companies in the Frimobil area (CFF, TPF, BLS, Car Postal, VMCV, Goldenpass).</p>
<p><strong>Can we take a bike in the public transport?</strong>
<br>Yes, you can board a bike with the FriPass (4 bikes for the Family FriPass) subject to space availability. You need to check in advance the special conditions that can change from a company to another.</p>
<p><strong>If I wish to travel 1st class, how do I proceed?</strong>
<br>You need to buy a supplement for the journey at the requested transport company.</p>
<p><strong>Where can I find the transport timetables?</strong>
<br>You can find all timetables on <a href="http://www.tpf.ch/en" target="_blank">www.tpf.ch</a>.
<h3>TOURISTIC ATTRACTIONS</h3>
<p><strong>Are the touristic attractions open every day?</strong>
<br>Each attraction has its own periods and opening times (to check on their website or on <a href="Lien sur les activités" target="_blank">our activities page)</a></p>
<p><strong>With the FriPass, how much does a return ticket to the summit of Mount Moléson cost?</strong>
<br>The FriPass includes 2 sections. To do a return journey to the Summit, you need to add CHF 22.-/per adult.</p>
<h3>BUY A FRIPASS ONLINE</h3>
<p><strong>The purchase of a FriPass online is secured?</strong>
<br>Yes, the website is secured.</p>
<p><strong>How much time before using it do I need to buy the FriPass?</strong>
<br>You can buy it till 12 months in advance.</p>
<p><strong>Am I compelled to choose my dates in advance?</strong>
<br>Yes, on the online shop, all dates have to be chosen in advance.</p>