<h3>FriPass Sales points</h3>
<p><strong>Online</strong>
<ul>
<li><a href="http://www.fripass.ch/en" target="_blank">www.fripass.ch</a></li>
</ul>
<p><strong>TPF counter in the train stations of:</strong>
<ul>
<li>Fribourg</li>
<li>Bulle</li>
<li>Châtel-St-Denis</li>
<li>Courtepin</li>
</ul>
<p><strong>Tourist offices:</strong>
<ul>
<li>Fribourg Tourisme, Fribourg</li>
<li>La Gruyère Tourisme, Bulle</li>
<li>Tourist office of Gruyères, Gruyères</li>
<li>Tourist office of Moléson, Moléson-sur-Gruyères</li>
<li>Tourist office of Charmey, Charmey</li>
<li>Tourist office of Jaun, Jaun</li>
<li>Estavayer-le-Lac / Payerne Tourisme, Estavayer-le-Lac</li>
<li>Murten Tourismus, Murten</li>
<li>Tourist office of Romont and its region, Romont</li>
<li>Tourist office of Châtel-St-Denis/Les Paccots and its region, Châtel-St-Denis</li>
<li>Info Point, Les Paccots</li>
<li>Schwarzsee Tourismus, Schwarzsee</li>
</ul>
<p><strong>Partners:</strong>
<ul>
<li>Papiliorama, Kerzers</li>
<li>Shipping company "Navigation sur les Lacs de Neuchâtel et Morat", Murten</li>
<li>Abbey church, Payerne</li>
<li>Roman Museum, Vallon </li>
</ul>
<p><strong>Accommodation sites:</strong>
<ul>
<li>Au Parc Hôtel, Fribourg</li>
<li>Best Western Hôtel de la Rose, Fribourg</li>
<li>Hôtel Restaurant l'Acacia, Marly</li>
<li>Hôtel Ibis Bulle La Gruyère, Bulle</li>
<li>Hôtel Broc'aulit, Broc</li>
<li>Hôtel de Ville, Semsales</li>
<li>Hôtel de la Gare, Montbovon</li>
<li>Golf Resort La Gruyère, Pont-la-Ville</li>
<li>Anna's Bed & Breakfast, Schwarzsee</li>
<li>Hotel Bad, Schwarzsee</li>
<li>Hôtel de l’Ours, Sugiez</li>
<li>Hôtel-Restaurant-Cave Bel-Air, Praz (Vully)</li>
</ul>
<p><strong>Swiss Federal Railways counters in the region of Fribourg:</strong>
<ul>
<li>FriPass available with a RailAway offer</li>
<li>Voucher to exchange in one of the sales point mentioned above</li>
<li>Exception : guichets CFF à négocier pour cartes (Morat, Romont, etc.)</li>
</ul>
<p><strong>Swiss Federal Railways counters outside the region of Fribourg:</strong>
<ul>
<li>FriPass available with a RailAway offer</li>
<li>20% discount on the transport to the region of Fribourg</li>
</ul>