<h3>List of the FriPass sales and exchange points</h3>
<p><strong>Online</strong>
<ul>
<li><a href="https://www.fripass.ch/en/#les-tarifs" target="_blank">www.fripass.ch</a></li>
</ul>
<p><strong>TPF counter in the train stations of:</strong>
<ul>
<li>Fribourg</li>
<li>Bulle</li>
<li>Châtel-St-Denis</li>
<li>Estavayer-le-Lac</li>
</ul>
<p><strong>BLS counter in the train stations of:</strong>
<ul>
<li>Murten</li>
<li>Kerzers</li>
<li>Ins</li>
<li>Düdingen</li>
<li>Schwarzenburg</li>
</ul>
<p><strong>Tourist offices:</strong>
<ul>
<li>Fribourg Tourisme, Fribourg</li>
<li>Tourist office of Bulle, Bulle</li>
<li>Tourist office of Gruyères, Gruyères</li>
<li>Tourist office of Charmey, Charmey</li>
<li>Tourist office of Jaun, Jaun</li>
<li>Murten Tourismus, Murten</li>
<li>Vully Tourisme, Sugiez</li>
<li>Vully-les-Lacs Tourisme, Salavaux</li>
<li>Tourist office of Romont and its region, Romont</li>
<li>Tourist office of Châtel-St-Denis/Les Paccots and its region, Châtel-St-Denis</li>
<li>Info Point, Les Paccots</li>
<li>Schwarzsee Tourismus, Schwarzsee</li>
<li>Avenches Tourisme, Avenches</li>
</ul>
<p><strong>Partners:</strong>
<ul>
<li>Shipping company "Société de Navigation sur les Lacs de Neuchâtel et Morat", Murten</li>
</ul>
<p><strong>Accommodation sites:</strong>
<ul>
<li>Au Parc Hôtel, Fribourg</li>
<li>Best Western Hôtel de la Rose, Fribourg</li>
<li>NH Hotel, Fribourg</li>
<li>Hôtel Ibis Bulle La Gruyère, Bulle</li>
<li>Hôtel de Ville, Semsales</li>
<li>Hôtel de Gruyères, Gruyères</li>
</ul>
