<h3>Terms of use</h3>
<p><strong>General</strong>
<br>The FriPass is personal and not transferable. It is only valid if it is duly filled in with a pen (name/first name, date of issue, date(s) of use, stamp and signature of the seller) for the chosen dates written in the spaces provided. No crossing-out will be tolerated. A not completed FriPass is considered as invalid. Proof of identity may also be required. The FriPass cannot be refunded or replaced. It is valid during 1 year, starting from the day of issue.</p>
<p>FriPass booked online<br>The FriPass booked online is available in the form of an e-ticket. It must be printed on a blank sheet (A4 format) or saved on a smartphone. The client needs to ensure that his phone is powered on during the entire duration of the FriPass. The control staff is allowed to handle the phone in question in order to carry out due and proper inspection. The client needs to be in possession of his e-ticket before boarding the means of public transport. The tickets must be readable in order to be valid.</p>
<p><strong>FriPass for 2 or 3 days</strong>
<br>The 2 or 3-days FriPass is valid during one month, starting from the first day of use. The dates of use can be chosen within a period of one month following the first day of use. The dates of use do not need to be consecutive.</p>
<p>FriPass for 2 or 3 days bought at a sales point<br>You do not need to choose the dates you will use your FriPass at the time of purchase. The date of use can be chosen and written on the pass each day before boarding the public transport.</p>
<p>FriPass for 2 or 3 days bought online<br>If ordered online, the dates of use of the FriPass need to be chosen at the time of online purchase.</p>
<p><strong>Travelcard holders</strong>
<br>The FriPass for CHF 30.- (respectively 55.- or 80.-) is available for adults with a travelcard covering the Frimobil area (GA travelcard, Half-Fare Card, Frimobil travelcard all zones, Swiss Travel Pass). The travelcard must be presented to the transport inspectors together with the FriPass.</p>
<p><strong>Children from 6 to 16 years</strong>
<br>The FriPass for CHF 20.- (respectively 35.- or 50.-) is intended for children from 6 to 16 years (15.99).</p>
<p><strong>Children under 6 years</strong>
<br>Children under 6 years (5.99) accompanied by an adult with a FriPass can access all attractions included in the FriPass free of charge (except for Les Bains de la Gruyère).  They can also use the public transport in the entire Frimobil area for free. Maximum 2 children per adult.</p>
<p><strong>Family (2 adults + 2 children)</strong>
<br>The Family FriPass is available for 2 adults and max. 2 children from 6 to 16 years (15.99). No family relationship is necessary to buy the pass. One single pass is valid for 4 persons.</p>
<p><strong>Activities and museums</strong>
<br>The FriPass gives access to the services (attractions, museums, etc.) listed on its website and in its brochure. Each service can only be used once during the entire duration of the pass. The clients are responsible to previously check the timetable and opening hours of each service provider. The closing times (bank holidays, bad weather conditions, etc.) as well as exceptional free admissions offered by the service providers included in the pass will neither cause an extension of the card’s duration, nor entitle to a refund. The FriPass cannot be combined with other discounts.<br>The community of interests “Projet touristique – Carte découverte” cannot be held responsible for any changes in the information given on the attractions.</p>
<p><strong>Public transport</strong>
<br>The FriPass is only valid in 2nd class during the validity dates of the pass. It can be used in all Frimobil zones with all transport companies serving these zones, with the exception of special journeys. Travelcard holders (GA travelcard, Half-Fare Card, Frimobil travelcards all zones, Swiss Travel Pass) will have to show their travelcards as well as the FriPass to the transport inspectors. If a service subject to a surcharge is used, such as the first class, a supplement remains due. The FriPass is subject to the provisions of the rate T 651.4.</p>
<p><strong>Bikes</strong>
<br>The FriPass holders can carry a bike in the public transport for free (maximum 4 bikes for the Family FriPass), subject to available spaces. The self-carrying of bikes is subject to the terms and conditions of the respective transport companies.</p>
<p><strong>Data protection</strong>
<br>The community of interest “Projet touristique – Carte découverte” promises to treat with respect and security the client’s personal data in accordance with the Swiss legal conditions about data protection. Personal data may be used to send marketing information related to the FriPass.</p>
<h3>Terms of Sale</h3>
<p><strong>Price</strong>
<br>All orders are invoiced as per the rates at the registered date of the purchase. Prices are all taxes included.</p>
<p><strong>Payment, security and order validation</strong><br>You can pay your order by credit card with a secured online payment system.</p>
<p><strong>Saferpay</strong>
<br>All transactions on the website are secured with the payment system Saferpay (www.saferpay.com). All correspondence to make the payment are crypted with the SSL protocole. All datas cannot be intercepted or used by third parties. They are not registered on the website.<br>The means of payment accepted are: Visa, MasterCard.<br>Your order has to be entirely paid to be registered. All unpaid orders will not be delivered. An email with all information about your order will be sent to you after payment.</p>
<p><strong>Data privacy</strong>
<br>All datas on this website will be privately treated as per the legal dispositions regarding data protection.<br>They can only be used once during the order processing. No personal datas will be transferred to third parties.</p>
<p><strong>Transmission of e-newsletter and emails</strong>
<br>The community of interest “Projet touristique – Carte découverte” sends out info newsletters containing further information, e.g. on updated websites or special offers by email. If you register for this service, please note that the emails are generally transmitted in non-encrypted form with the attendant risk that such data may be intercepted and read by third parties.</p>
<p><strong>Opt Out Policy</strong>
<br>You may unsubscribe from the www.fripass.ch newsletter at any time. Each newsletter contains a direct link which enables you to unsubscribe easily and automatically.</p>
<p><strong>Jurisdiction</strong>
<br>Any disputes arising under the contract will be referred to competent court in Fribourg, subject to other binding law, and shall be governed exclusively by Swiss law.<br>The French version of the General Terms and Conditions shall prevail.</p>