<div class="activite">
	<div class="activite-img">
		<img src="{{ asset('bundles/content/treks/thumbnail/escapade_au_bord_de_l_eau_vignette.jpg') }}"/>
	</div>
	<a href="">
		<div class="activite-nom">
			ESCAPADE AU BORD DE L’EAU
		</div>
	</a>
	<div class="activiteContent">
		<div class="activite-content">
			<div class="row">
				<div class="col-md-6">
					<h2>ESCAPADE AU BORD DE L’EAU</h2>
					<br>
					<span class="activite-sous-titre">Exemple pour un adulte sans abonnement au départ de Fribourg</span>
					<br>
					<p>
						12h16 : Train en direction de Estavayer-le-Lac (arrivée à 12h54)
					</p>
					<p><i>
						Descendez du train et prenez le petit train touristique qui vous fera visiter la ville historique d’Estavayer-le-Lac ! Durant le tour, faites un stop à l’arrêt « musée » afin de découvrir le Musée des grenouilles. Reprenez le petit train l’heure suivante afin qu’il vous emmène au bord du lac. Un après-midi plein d’adrénaline entre ski nautique, pédalo, stand up paddle, le choix des activités nautiques est nombreux. Retour à la gare à pied ou en petit train touristique.
					</i></p>
					<p>
						19h35 : Train en direction de Fribourg (arrivée à 20h12)
					</p>
					<br>
					<p><strong>Prix pour un adulte sans abonnement </strong></p>
					<ul class="ptn-interet">
						<li>Sans FriPass : CHF 141.20</li>
						<li>Avec FriPass : CHF 40.00 + CHF 80.00 (Funpass) = CHF 120.00</li>
					</ul>
					<br>
					<p><a class="rando-iti-link colorED891E" href="http://www.tpf.ch" target="_blank">> Horaire des transports publics</a></p>
				</div>
				<div class="col-md-6">
					<p class="pull-right"><img src="{{ asset('bundles/content/treks/escapade_au_bord_de_l_eau.jpg') }}" alt=""/></p>
				</div>
			</div>
		</div>
	</div>
</div>