<div class="activite">
	<div class="activite-img">
		<img src="{{ asset('bundles/content/treks/thumbnail/petits_trains_ruelles_pittoresques_vignette.jpg') }}"/>
	</div>
	<a href="">
		<div class="activite-nom">
			PETITS TRAINS ET RUELLES PITTORESQUES
		</div>
	</a>
	<div class="activiteContent">
		<div class="activite-content">
			<div class="row">
				<div class="col-md-6">
					<h2>PETITS TRAINS ET RUELLES PITTORESQUES</h2>
					<br>
					<span class="activite-sous-titre">Exemple pour un adulte avec un abonnement demi-tarif et un enfant de 6 à 16 ans au départ d’Avenches</span>
					<br>
					<p>
						10h34 : Bus en direction de Fribourg, Vuille (arrivée à 11h00)<br>
						11h12 : Bus en direction de Granges-Paccot, Rte du Coteau (arrivée à 11h15)
					</p>
					<p><i>
					Descendez du bus et entrez dans le monde fascinant des trains miniatures ! Après la visite, retour en ville de Fribourg, ou plus exactement dans la Vieille Ville, où de nombreux restaurants pittoresques vous attendent. Après le repas, admirez la vieille ville de Fribourg en montant les 368 marches de sa cathédrale. 
					</i></p>
					<p>
						17h43 : Bus en direction d’Avenches (arrivée à 18h21)
					</p>
					<br>
					<p><strong>Pour un adulte avec un abonnement demi-tarif et un enfant de 6 à 16 ans au départ d’Avenches</strong></p>
					<ul class="ptn-interet">
						<li>Sans FriPass : CHF 68.60</li>
						<li>Avec FriPass : CHF 30.00 + CHF 20.00 = CHF 50.00</li>
					</ul>
					<br>
					<p><a class="rando-iti-link colorED891E" href="http://www.tpf.ch" target="_blank">> Horaire des transports publics</a></p>
				</div>
				<div class="col-md-6">
					<p class="pull-right"><img src="{{ asset('bundles/content/treks/petits_trains_ruelles_pittoresques.jpg') }}" alt="Itinéraires petits trains touristiques"/></p>
				</div>
			</div>
		</div>
	</div>
</div>
