<h4>1. Description de l’offre Fripass</h4>
<p>Le FriPass permet de circuler sur tout le réseau Frimobil et d’accéder gratuitement à 30 attractions du canton de Fribourg. Vendu sous la forme de carte papier ou de billet électronique, il peut être acheté pour un, deux ou trois jours. Une offre famille est également proposée. Plus d’information sous la rubrique activité du site internet <a href="https://www.fripass.ch">www.fripass.ch</a>.</p>

<h4>2. Participation au concours</h4>
<p>Pour participer au concours, c’est très simple !</p>
<p>Répondez à la question « combien d’activités sont incluses dans Fripass ? ».</p>
<p>Envoyez la réponse et vos coordonnées directement sur l’adresse mail <a href="mailto:info@fripass.ch">info@fripass.ch</a>.</p>
<p>Vous remporterez peut-être l’un des trois Fripass Famille d’une valeur de 90 CHF chacun.</p>

<h4>3. Prix à remporter</h4>
<p>Partez découvrir le canton de Fribourg en famille.</p>
<p>Gagnez l’un des 3 Fripass – Famille 1 jour, valeur de 90 CHF.</p>
<p>Les gagnants seront tirés au sort le 30 juin 2016 et recevront le Fripass directement par courrier.</p>

<h4>4. Conditions générales du concours</h4>
<p>En participant, vous acceptez sans réserve les conditions ci-dessous.</p>
<p>Pour plus de commodité, seul le terme «concours» sera utilisé dans le cadre des présentes conditions de participation, lesquelles s’appliqueront également pour tout jeu-concours, jeu d’énigmes ou tirage au sort.</p>
<p>Concours ouvert à toute personne physique résidant en permanence en Suisse, et âgée d’au moins 16 ans au moment de sa participation. Le participant au concours est réputé être la personne titulaire de l’adresse e-mail indiquée lors de l’inscription au concours.</p>
<p>Une seule participation par personne.</p>
<p>Toute participation frauduleuse ou répétée au concours entraînera l’exclusion du participant. De la même manière, toute participation ou saisie automatisée, ainsi que toute manipulation technique entraînera l’exclusion sans appel du concours. La participation est gratuite et sans aucune obligation d’achat.</p>
<p>Fripass se réserve le droit de suspendre totalement ou provisoirement le concours en présence de toute difficulté mettant en péril l’intégrité du concours.</p>
<p>Fripass se réserve aussi le droit de modifier les présentes conditions de participation sans préavis.</p>
<p>En participant, vous acceptez l’utilisation des données transmises pour l’envoi d’autres offres et informations (publicité) et leur transmission (par e-mail ou courrier), leur sauvegarde et leur traitement en Suisse. La transmission de vos données à des tiers est exclue.</p>
<p>Fripass s’engage à traiter en permanence vos données personnelles avec le soin requis et dans le respect des dispositions suisses en matière de protection des données.</p>
<p>La date limite de participation est celle indiquée sur la page du concours.</p>
<p>Le nom des gagnant(e)s sera publié dans les meilleurs délais sur <a href="https://www.fripass.ch">www.fripass.ch</a>www.fripass.ch, conformément aux données complémentaires fournies lors de leur participation, et les gagnant(e)s informé(e)s personnellement.</p>
<p>Les gagnants seront tirés au sort parmi les bonnes réponses par le département marketing du Fripass. Les gains ne pourront ni être convertis en espèces ni échangés. Les prix ne sont pas transmissibles.</p>
<p>La gagnante ou le gagnant accepte toute modification requise du prix motivée par un facteur indépendant de la volonté de Fripass.</p>
<p>Le concours ne fera l’objet d’aucune correspondance; le recours juridique est exclu.</p>