<p><strong>Qu'est-ce que le FriPass ?</strong>
<br>C’est un pass touristique qui inclut les transports publics dans tout le canton de Fribourg (réseau Frimobil), l’accès gratuit à 30 attractions touristiques et une réduction de 30% sur les tarifs de 3 prestataires. Il est valable pour 1 jour, 2 jours à choix  sur un mois ou 3 jours à choix sur un mois.</p>
<p><strong>Où le FriPass peut-il être acheté ?</strong>
<br>Il peut être acheté <a href="{{ path('oz_tpf_app_homepage')~'#les-tarifs' }}">en ligne</a>, dans les guichets TPF, dans les offices du tourisme régionaux, chez certains hébergeurs, chez certaines attractions partenaires et dans les guichets CFF et autres compagnies de transports grâce à l’offre RailAway. <a href="{{ path('oz_tpf_app_menu_footer_points_vente') }}">Liste des points de vente et d'échange.</a></p>
<p><strong>Y a-t-il une limite au nombre d’attractions que je peux visiter dans une journée ?</strong>
<br>Non, vous pouvez visiter autant d’attractions que vous le souhaitez.</p>
<p><strong>Est-ce que je peux visiter la même attraction à plusieurs reprises ?</strong>
<br>Non, vous ne pouvez visiter chaque attraction qu’une seule fois avec le FriPass.</p>
<p><strong>Le FriPass est-il économiquement avantageux ?</strong>
<br>Oui. Une carte de transport plein tarif pour une journée coûte CHF 33.60. Pour quelques francs de plus, vous pouvez visiter gratuitement 30 sites touristiques et obtenir des réductions.</p>
<p><strong>Les FriPass de 2 jours et 3 jours doivent-ils être utilisés pendant des jours consécutifs ?</strong>
<br>Non, les pass de 2 jours ou 3 jours peuvent être utilisés aux dates de votre choix. Cependant, la première date choisie doit être espacée d’au maximum un mois de la dernière (ex.: si la première date choisie est le 13.07.2015, la dernière doit être, au plus tard, le 13.08.2015).</p>
<p><strong>J’ai acheté un FriPass de 3 jours et j’aimerais l’utiliser le 6 juin, le 17 juin et le 14 juillet, est-ce possible ?</strong>
<br>Non, ça n’est pas possible. Les dates doivent être espacées d’au maximum un mois, vous pourrez donc utiliser votre FriPass jusqu’au 6 juillet.</p>
<p><strong>Quel est l’âge limite pour un FriPass Enfant ?</strong>
<br>Les FriPass Enfant sont destinés aux enfants de 6 à 16 ans (15.99 ans).<br>Les enfants en-dessous de 6 ans (5.99 ans) accompagnés d’un adulte en possession d’un FriPass peuvent accéder gratuitement à toutes les attractions comprises dans le pass (maximum 2 enfants par adulte). Exception faite des Bains de la Gruyère où les enfants de 4 à 6 ans ont droit à un rabais de 30% sur l’entrée. Les enfants de 6 à 16 ans peuvent également voyager gratuitement sur tout le réseau Frimobil.</p>
<p><strong>Devons-nous obligatoirement être une famille pour acheter le FriPass Famille ?</strong>
<br>Non, le FriPass Famille est valable pour 2 adultes et 2 enfants de 6 à 16 ans, peu importe s’il y a ou non des liens de parenté entre vous.</p>
<p><strong>Quelle offre choisissons-nous si nous avons 3 enfants de 6 à 16 ans ?</strong>
<br>Vous pouvez choisir le FriPass Famille (2 adultes + 2 enfants de 6 à 16 ans) ainsi qu’un FriPass Enfant de 6 à 16 ans.</p>
<p><strong>Y a-t-il un rabais pour les familles ayant un abonnement de transports publics ?</strong>
<br>Non, le tarif du FriPass Famille est très attractif, il n’y a pas de réduction supplémentaire.</p>
<p><strong>Y a-t-il un rabais pour les enfants possédant un abonnement ?</strong>
<br>Non, tous les enfants de 6 à 16 ans paient le même prix.</p>
<p><strong>J’ai reçu un FriPass en cadeau, combien de temps ai-je pour l’utiliser ?</strong>
<br>Les FriPass sont valables un an dès leur date d’émission. Il faut donc vérifier la date d’émission inscrite sur le vôtre.</p>
<p><strong>J’ai un abonnement Frimobil 3 zones, puis-je acheter le FriPass à CHF 30.- ?</strong>
<br>Non, le FriPass à CHF 30.- est destiné aux titulaires d’un abonnement général, d’un abonnement demi-tarif, d’un abonnement Frimobil toutes zones ou d’un Swiss Travel Pass. L’abonnement doit être présenté lors du contrôle.</p>
<p><strong>Comment faire si je perds mon FriPass ?</strong>
<br>Le FriPass ne peut être ni remplacé, ni échangé. Si vous l’avez commandé via le shop en ligne, vous pouvez le réimprimer.</p>
<h3>TRANSPORTS PUBLICS</h3>
<p><strong>Où pouvons-nous nous déplacer gratuitement avec le FriPass ?</strong>
<br>Vous pouvez voyager librement sur tout le <a href="http://www.frimobil.ch/files/pdf2/Plan_frimobil.pdf" target="_blank">réseau Frimobil.</a></p>
<p><strong>Puis-je voyager avec toutes les entreprises de transports actives dans le canton de Fribourg ?</strong>
<br>Oui, vous pouvez voyager avec toutes les compagnies de transports publics du périmètre Frimobil (CFF, TPF, BLS, Car Postal, VMCV, Goldenpass).</p>
<p><strong>Pouvons-nous embarquer un vélo dans les transports publics ?</strong>
<br>Oui, l’embarquement d’un vélo est compris dans le FriPass (4 vélos pour le FriPass Famille), sous réserve de place disponible. Vous devez cependant vous renseigner auparavant sur les conditions d’embarquement qui diffèrent d’une compagnie à l’autre.</p>
<p><strong>Si je souhaite voyager en 1ère classe, comment dois-je procéder ?</strong>
<br>Vous devez acheter un supplément pour le trajet choisi auprès d’une compagnie de transport.</p>
<p><strong>Où puis-je trouver les horaires des transports ?</strong>
<br>Vous trouverez tous les horaires sur <a href="http://www.tpf.ch/fr/" target="_blank">www.tpf.ch</a>.</p>
<h3>ATTRACTIONS TOURISTIQUES</h3>
<p><strong>Est-ce que les attractions touristiques sont ouvertes tous les jours ?</strong>
<br>Chaque attraction a ses propres périodes et horaires d’ouverture (à consulter sur leur site Internet ou sur <a href="{{ path('oz_tpf_app_menu_activites') }}">notre page activités</a>)</p>
<p><strong>Avec le FriPass, combien coûte un aller-retour jusqu’au sommet du Moléson ?</strong>
<br>Le FriPass inclut 2 sections. Pour faire un aller-retour jusqu’au sommet, il faut rajouter CHF 22.-/adulte.</p>
<h3>ACHAT DU FRIPASS EN LIGNE</h3>
<p><strong>L’achat du FriPass en ligne est-il sécurisé ?</strong>
<br>Oui, le site est sécurisé.</p>
<p><strong>Combien de temps à l’avance est-ce que je peux acheter le FriPass ?</strong>
<br>Vous pouvez acheter le FriPass jusqu’à 12 mois à l’avance.</p>
<p><strong>Suis-je obligé de choisir mes dates à l’avance ?</strong>
<br>Oui, sur le shop en ligne, toutes les dates doivent être choisies à l’avance.</p>