
					<p>Transports publics dans toutes les zones Frimobil en 2e classe inclus aux dates choisies et inscrites ci-dessus, vélo compris (2.)(TK)(V). Carte personnelle et non transmissible.<br>
						Ne peut être ni remboursée, ni remplacée.<br>
						A présenter lors des contrôles; une pièce d’identité peut-être exigée.</p>
					<p>Ce billet doit être imprimé sur du papier blanc (format A4) ou enregistré sur un smartphone. Les billets qui ne sont pas parfaitement lisibles ne sont pas valables.</p>