<h3>Liste des points de vente FriPass</h3>
<p><strong>Online</strong>
<ul>
<li><a href="http://www.fripass.ch" target="_blank">www.fripass.ch</a></li>
</ul>
<p><strong>Guichets TPF en gares de :</strong>
<ul>
<li>Fribourg</li>
<li>Bulle</li>
<li>Châtel-St-Denis</li>
<li>Courtepin</li>
</ul>
<p><strong>Offices du tourisme :</strong>
<ul>
<li>Fribourg Tourisme, Fribourg</li>
<li>La Gruyère Tourisme, Bulle</li>
<li>Office du tourisme de Gruyères, Gruyères</li>
<li>Office du tourisme de Moléson, Moléson-sur-Gruyères</li>
<li>Office du tourisme de Charmey, Charmey</li>
<li>Office du tourisme de Jaun, Jaun</li>
<li>Estavayer-le-Lac-Payerne Tourisme, Estavayer-le-Lac</li>
<li>Morat Tourisme, Morat</li>
<li>Romont Tourisme, Romont</li>
<li>Office du tourisme Châtel-St-Denis/Les Paccots, Châtel-St-Denis</li>
<li>Point info, Les Paccots</li>
<li>Schwarzsee Tourismus, Schwarzsee</li>
</ul>
<p><strong>Partenaires touristiques :</strong>
<ul>
<li>Papiliorama, Kerzers</li>
<li>Navigation sur les Lacs de Neuchâtel et Morat, Morat</li>
<li>Abbatiale, Payerne</li>
<li>Musée romain de Vallon</li>
</ul>
<p><strong>Hébergements :</strong>
<ul>
<li>Au Parc Hôtel, Fribourg</li>
<li>Best Western Hôtel de la Rose, Fribourg</li>
<li>Hôtel Restaurant l'Acacia, Marly</li>
<li>Hôtel Ibis Bulle La Gruyère, Bulle</li>
<li>Hôtel Broc'aulit, Broc</li>
<li>Hôtel de Ville, Semsales</li>
<li>Hôtel de la Gare, Montbovon</li>
<li>Golf Resort La Gruyère, Pont-la-Ville</li>
<li>Anna's Bed & Breakfast, Schwarzsee</li>
<li>Hotel Bad, Schwarzsee</li>
<li>Hôtel de l’Ours, Sugiez</li>
<li>Hôtel-Restaurant-Cave Bel-Air, Praz (Vully)</li>
</ul>
<p><strong>Guichets CFF du canton de Fribourg :</strong>
<ul>
<li>FriPass disponible grâce à l’offre RailAway</li>
<li>Voucher à échanger dans l’un des points de vente ci-dessus</li>
<li>Sauf : guichets CFF à négocier pour cartes (Morat, Romont, etc.)</li>
</ul>
<p><strong>Guichets CFF hors canton de Fribourg :</strong>
<ul>
<li>FriPass disponible grâce à l’offre RailAway</li>
<li>20% de réduction sur le transport jusque dans le canton de Fribourg</li>
</ul>