<h3>Liste des points de vente et d'échange FriPass</h3>
<p><strong>Online</strong>
<ul>
<li><a href="https://www.fripass.ch/fr/#les-tarifs" target="_blank">www.fripass.ch</a></li>
</ul>
<p><strong>Guichets TPF en gares de :</strong>
<ul>
<li>Fribourg</li>
<li>Bulle</li>
<li>Châtel-St-Denis</li>
<li>Estavayer-le-Lac</li>
</ul>
<p><strong>Guichets BLS en gares de :</strong>
<ul>
<li>Morat</li>
<li>Kerzers</li>
<li>Ins</li>
<li>Guin</li>
<li>Schwarzenburg</li>
</ul>
<p><strong>Offices du tourisme :</strong>
<ul>
<li>Fribourg Tourisme, Fribourg</li>
<li>Office du tourisme de Bulle, Bulle</li>
<li>Office du tourisme de Gruyères, Gruyères</li>
<li>Office du tourisme de Charmey, Charmey</li>
<li>Office du tourisme de Jaun, Jaun</li>
<li>Estavayer-le-Lac/Payerne Tourisme, Estavayer-le-Lac</li>
<li>Estavayer-le-Lac/Payerne Tourisme, Payerne</li>
<li>Morat Tourisme, Morat</li>
<li>Vully Tourisme, Nant</li>
<li>Vully-les-Lacs Tourisme, Salavaux</li>
<li>Office du tourisme de Romont et sa région, Romont</li>
<li>Office du tourisme de Châtel-St-Denis/Les Paccots et la région, Châtel-St-Denis</li>
<li>Info Point, Les Paccots</li>
<li>Schwarzsee Tourismus, Schwarzsee</li>
<li>Avenches Tourisme, Avenches</li>
</ul>
<p><strong>Partenaires touristiques :</strong>
<ul>
<li>Navigation sur les Lacs de Neuchâtel et Morat, Morat</li>
</ul>
<p><strong>Hébergements :</strong>
<ul>
<li>Au Parc Hôtel, Fribourg</li>
<li>Best Western Hôtel de la Rose, Fribourg</li>
<li>NH Hotel, Fribourg</li>
<li>Hôtel Ibis Bulle La Gruyère, Bulle</li>
<li>Camping Haute Gruyère, Enney</li>
<li>Hôtel de Ville, Semsales</li>
<li>Hôtel de Gruyères, Gruyères</li>
<li>Hôtel-restaurant de l'Etoile, Charmey</li>
<li>Golf Resort La Gruyère, Pont-la-Ville</li>
<li>Anna's Bed & Breakfast, Schwarzsee</li>
</ul>
