<h3>Liste des points de vente et d'échange FriPass</h3>
<p><strong>Online</strong>
<ul>
<li><a href="http://www.fripass.ch" target="_blank">www.fripass.ch</a></li>
</ul>
<p><strong>Guichets TPF en gares de :</strong>
<ul>
<li>Fribourg</li>
<li>Bulle</li>
<li>Châtel-St-Denis</li>
<li>Courtepin</li>
</ul>
<p><strong>Offices du tourisme :</strong>
<ul>
<li>Fribourg Tourisme, Fribourg</li>
<li>Office du Tourisme de Bulle, Bulle</li>
<li>Office du tourisme de Gruyères, Gruyères</li>
<li>Office du tourisme de Charmey, Charmey</li>
<li>Office du tourisme de Jaun, Jaun</li>
<li>Estavayer-le-Lac-Payerne Tourisme, Estavayer-le-Lac</li>
<li>Estavayer-le-Lac-Payerne Tourisme, Payerne</li>
<li>Morat Tourisme, Morat</li>
<li>Vully Tourisme, Nant</li>
<li>Vully-les-Lacs Tourisme, Salavaux</li>
<li>Romont Tourisme et sa région, Romont</li>
<li>Office du tourisme Châtel-St-Denis/Les Paccots et la région, Châtel-St-Denis</li>
<li>Info Point, Les Paccots</li>
<li>Schwarzsee Tourismus, Schwarzsee</li>
<li>Avenches Tourisme, Avenches</li>
</ul>
<p><strong>Partenaires touristiques :</strong>
<ul>
<li>Papiliorama, Kerzers</li>
<li>Navigation sur les Lacs de Neuchâtel et Morat, Morat</li>
</ul>
<p><strong>Hébergements :</strong>
<ul>
<li>Au Parc Hôtel, Fribourg</li>
<li>Best Western Hôtel de la Rose, Fribourg</li>
<li>Hôtel Ibis Bulle La Gruyère, Bulle</li>
<li>Hôtel Broc'aulit, Broc</li>
<li>Hôtel de Ville, Semsales</li>
<li>Hostellerie Saint-Georges, Gruyères</li>
<li>Hôtel de Gruyères, Gruyères</li>
<li>Golf Resort La Gruyère, Pont-la-Ville</li>
<li>Anna's Bed & Breakfast, Schwarzsee</li>
<li>Hôtel de l’Ours, Sugiez</li>
<li>Hôtel-Restaurant-Cave Bel-Air, Praz (Vully)</li>
</ul>
<p><strong>Guichets CFF et autres compagnies du canton de Fribourg :</strong>
<ul>
<li>FriPass disponible grâce à l’offre RailAway</li>
<li>Voucher à échanger dans l’un des points de vente ci-dessus</li>
</ul>
<p><strong>Guichets CFF et autres compagnies hors canton de Fribourg :</strong>
<ul>
<li>FriPass disponible grâce à l’offre RailAway</li>
<li>20% de réduction sur le transport jusque dans le canton de Fribourg</li>
</ul>