<h3>Conditions générales d'utilisation</h3>
<p><strong><i>Généralités</i></strong>
<br>Le FriPass est personnel et non transmissible. Il est valable uniquement si dûment complété au stylo (nom/prénom, date d’émission, date(s) du(des) jour(s) d’utilisation, timbre et signature de l’émetteur) aux dates choisies et inscrites dans les cases prévues à cet effet. Aucune rature n’est admise. Les FriPass non complétés sont considérés comme des titres de transport non valables. Une pièce d’identité peut être exigée sur présentation du FriPass.<br>Le FriPass ne peut être ni remboursé, ni remplacé. Il est valable 1 an dès sa date d’émission.</p>
<p><i>FriPass commandé sur Internet</i><br>Le FriPass commandé sur internet est disponible sous forme de billet électronique (e-ticket). Il doit être imprimé sur du papier blanc (format A4) ou enregistré sur le smartphone du client. Le client doit s’assurer que son téléphone est sous tension pendant toute la durée de son FriPass. Le personnel de contrôle est autorisé à manipuler le téléphone en question pour procéder à un contrôle dans les règles. Le client doit être en possession de son e-ticket avant de commencer à l’utiliser dans les transports publics. Les e-tickets qui ne sont pas parfaitement lisibles ne sont pas valables.</p>
<p><strong><i>Adultes titulaires d’un abonnement</i></strong>
<br>Le FriPass à CHF 30.- est destiné aux adultes titulaires d’un abonnement de transports publics qui couvre tout le périmètre du réseau Frimobil (abonnements généraux, demi-tarif, Frimobil toutes zones ou Swiss Travel Pass). L’abonnement doit être présenté lors du contrôle du FriPass.</p>
<p><strong><i>Enfants de 6 à 16 ans</i></strong>
<br>Le FriPass à CHF 20.- est destiné aux enfants de 6 à 16 ans (15.99 ans).</p>
<p><strong><i>Enfants en-dessous de 6 ans</i></strong>
<br>Les enfants en-dessous de 6 ans (jusqu’à 5.99) accompagnés d’un adulte en possession d’un FriPass peuvent accéder gratuitement à toutes les attractions comprises dans le pass (sauf Les Bains
de la Gruyère). Ils peuvent également voyager gratuitement sur tout le réseau Frimobil. Maximum 2 enfants par adulte.</p>
<p><strong><i>Famille (2 adultes + 2 enfants de 6-16 ans)</i></strong>
<br>Le FriPass Famille est valable pour 2 adultes et max. 2 enfants de 6 à 16 ans (15.99 ans). Aucun lien de parenté n’est nécessaire pour acquérir ce pass. Un seul pass est valable pour les 4 personnes.</p>
<p><strong><i>Activités et musées</i></strong>
<br>Le FriPass permet l’accès aux prestations listées sur le site Internet et sur la brochure. Chaque attraction ne peut être visitée qu’une seule fois durant les dates choisies sur le pass. Les clients sont responsables de vérifier les horaires et périodes d’ouverture de chaque site préalablement. Les fermetures (jours fériés, mauvais temps, etc.) et gratuités exceptionnelles qui pourraient intervenir dans les attractions accessibles avec le FriPass n’entraîneront ni le prolongement de la durée des pass, ni le remboursement d’une ou plusieurs journées. Le FriPass n’est pas cumulable avec d’autres réductions. La Communauté d’intérêts «Projet touristique - Carte découverte» n’est pas responsable des éventuelles modifications dans les informations sur les attractions.</p>
<p><strong><i>Transports publics</i></strong>
<br>Le FriPass est valable en 2ème classe uniquement pour les dates de validité du pass. Il est valable dans toutes les zones Frimobil et auprès de toutes les entreprises desservant ces zones, exception faite des courses spéciales. Les titulaires d’abonnements généraux, demi-tarif, Frimobil toutes zones ou Swiss Travel Pass doivent présenter leur abonnement en même temps que leur FriPass. En cas d’utilisation d’un service soumis à supplément, notamment la 1ère classe, un supplément reste dû. Le FriPass est soumis aux dispositions du tarif 651.4.</p>
<p><strong><i>Vélos</i></strong>
<br>Le FriPass permet d’embarquer un vélo dans les transports publics (4 vélos pour  la carte Famille) sous réserve de place disponible. Le client est responsable de consulter les conditions de la compagnie de transport pour savoir si l’embarquement est autorisé.</p>
<p><strong><i>Protection des données</i></strong>
<br>La Communauté d’intérêts «Projet touristique – Carte découverte» s’engage à traiter avec respect et sécurité les données personnelles des clients conformément à la législation suisse sur la protection des données. Les renseignements personnels peuvent être utilisés pour l’envoi d’informations marketing liées au FriPass.</p>
<h3>Conditions générales de vente</h3>
<p><strong><i>Prix</i></strong>
<br>Toute commande est facturée selon les tarifs en vigueur à la date d'enregistrement de votre achat. Les prix s'entendent TTC.</p>
<p>Paiement, sécurité et validation de commande<br>Vous pouvez régler la commande par carte de crédit grâce au système de paiement sécurisé en ligne. </p>
<p><strong><i>Saferpay</i></strong>
<br>Les transactions effectuées sur ce site sont sécurisées par le système de paiement Saferpay (www.saferpay.com). Toutes les informations échangées pour traiter le paiement sont cryptées grâce au protocole SSL. Ces données ne peuvent être ni détectées, ni interceptées, ni utilisées par des tiers. Elles ne sont pas non plus conservées sur ce site.<br>Les moyens de paiement acceptés sont: Visa et MasterCard.<br>Pour être enregistrée, votre commande doit être payée dans son intégralité. Les commandes non réglées ne sont pas délivrées. Un e-mail reprenant les différents éléments de votre commande vous sera envoyé suite à votre paiement.</p>
<p><strong><i>Billets</i></strong>
<br>Aucun billet endommagé ne sera remplacé. Toute reproduction, modification ou contrefaçon de billet est interdite. Les billets manipulés de la sorte ne sont pas valables.<br>Les billets ne sont ni repris, ni échangés, ni remboursés.</p>
<p><strong><i>Confidentialité</i></strong>
<br>Toutes les informations récoltées sur ce site seront traitées confidentiellement et conformément aux dispositions légales en vigueur sur la protection des données.<br>Elles sont réservées à la seule utilisation du traitement des commandes. Aucune donnée personnelle ne sera transmise à des tiers.</p>
<p><strong><i>Envoi de Newsletters et courriers électroniques</i></strong>
<br>La Communauté d’intérêts « Projet touristique – Carte découverte » envoie ses newsletters ou autres informations, par exemple sur la mise à jour de sites Internet ou les offres spéciales, par courrier électronique. Si vous désirez vous inscrire à ce service, elle attire votre attention sur le fait que tous les e-mails sont transmis sous forme non cryptée, ce qui signifie que ces données peuvent être interceptées et lues par des tiers.</p>
<p><strong><i>Désinscription (Opt Out Policy)</strong>
<br>La désinscription à la lettre d'information de www.fripass.ch est possible à n'importe quel moment. Chaque lettre d'information contient un lien direct permettant de se désinscrire automatiquement et facilement.</p>
<p><strong><i>Droit applicable et for</i></strong>
<br>Le droit suisse est seul applicable. En cas de litige, le for juridique est à Fribourg (Suisse).</p>