<img src="{{ asset('bundles/content/slider/slide-1.jpg') }}" alt="...">
<div class="carousel-caption">
	<div class="content-slide-1 col-md-6">
		<div class="content-slide">Visit 30 tourist attractions for free</div>
	</div>
	<div class="content-slide-2 col-md-offset-6 col-md-6">
		<div class="content-slide">Unlimited and free travel by public transport in the entire Fribourg region</div>
	</div>
</div>