<img src="{{ asset('bundles/content/slider/slide-2.jpg') }}">
<div class="carousel-caption">
	<div class="content-slide-1">
		<div class="content-slide">Mehr erleben f端r weniger Geld !</div>
	</div>
	<div class="content-slide-2">
		<div class="content-slide">
			<p>Durchschnittlicher Eintrittspreis f端r eine Attraktion : <strong>CHF 11.-</strong></p>
			<p>Durchschnittlicher Eintrittspreis f端r ein Museum : <strong>CHF 7.70</strong></p>
			<p>Fahrausweis f端r einen Tag auf dem gesamten Frimobil-Netz : <strong>CHF 33.60</strong></p>
		</div>
	</div>
	<div class="content-slide-3">
		<div class="content-slide">Sie haben schon gespart !</div>
	</div>
</div>