<div id="slide_1">
	<img src="{{ asset('bundles/content/slider/slide-2.jpg') }}">
	<div class="carousel-caption hidden-xs">
		<div class="content-slide-1">
			<div class="content-slide">Move more,<br>spend less !</div>
		</div>
		<div class="content-slide-2">
			<div class="content-slide">
				<p>Average price for an activity : <strong>CHF 11.-</strong></p>
				<p>Average price for an admission to a museum : <strong>CHF 7.70</strong></p>
				<p>Day Pass in the entire Frimobil area : <strong>CHF 33.60</strong></p>
			</div>
		</div>
		<div class="content-slide-3">
			<div class="content-slide">You have already saved money !</div>
		</div>
	</div>
</div>