<img src="{{ asset('bundles/content/slider/slide-3.jpg') }}">
<div class="carousel-caption">
	<div class="content-slide-1">
		<img src="{{ asset('bundles/content/slider/picto-idee.png') }}">
		<div class="content-slide">Zahlreiche Ideen, um die Region Freiburg zu entdecken !</div>
	</div>
</div>