<p><strong>Was ist der FriPass?</strong>
<br>Der FriPass ist ein touristischer Pass, der folgende Leistungen beinhaltet: öffentliche Verkehrsmittel (Streckennetz von Frimobil), kostenlosen Zugang zu 30 touristischen Attraktionen und eine Reduktion von 30% bei weiteren 3 Leistungsträgern. Er ist an 1, 2 oder 3 frei wählbaren Tagen innerhalb eines Monats gültig.</p>
<p><strong>Wo kann ich den FriPass kaufen?</strong>
<br>Er ist <a href="{{ path('oz_tpf_app_homepage')~'#les-tarifs' }}">online erhältlich</a>, an den Schaltern der TPF, in den regionalen Tourismusbüros, bei ausgewählten Unterkunftsanbietern und touristischen Attraktionen sowie an den Schaltern der SBB über das Angebot von RailAway. <a href="{{ path('oz_tpf_app_menu_footer_points_vente') }}">Liste der Verkaufsstellen.</a></p>
<p><strong>Gibt es eine maximale Anzahl an Attraktionen, die ich innerhalb eines Tages besuchen kann?</strong>
<br>Nein, Sie können so viele Attraktionen besuchen, wie Sie wünschen.</p>
<p><strong>Kann ich eine Attraktion mehrmals besuchen?</strong>
<br>Nein, mit dem FriPass können Sie jede Attraktion nur einmal besuchen.</p>
<p><strong>Lohnt sich der Kauf des FriPass finanziell?</strong>
<br>Ja. Eine Tageskarte für die öffentlichen  Verkehrsmittel (Volltarif) kostet bereits CHF 33.60. Für einige Franken mehr können Sie mit dem FriPass kostenlos 30 touristische Attraktionen besuchen und weitere Reduktionen erhalten.</p>
<p><strong>Muss der FriPass für 2 oder 3 Tage an aufeinanderfolgenden Tagen benützt werden?</strong>
<br>Nein, der  FriPass für 2 oder 3 Tage kann an frei gewählten Tagen eingesetzt werden. Die beiden resp. drei Tage müssen jedoch innerhalb eines Monats liegen (z.B. wenn das erste gewählte Datum der  13.07.2015 ist, muss der letzte Nutzungstag spätestes der 13.08.2015 sein).</p>
<p><strong>Wenn ich einen FriPass für 3 Tage kaufe, kann ich diesen am 6. Juni, am 7. Juni und am 14. Juli nutzen?</strong>
<br>Nein, das ist nicht möglich. Die Daten können maximal einen Monat auseinanderliegen. Sie können Ihren FriPass also nur bis zum 6. Juli benützen.</p>
<p><strong>Bis zu welchem Alter gilt der FriPass für Kinder?</strong>
<br>Der FriPass für Kinder richtet sich an Kinder von 6 bis 16 Jahre (bis zum 16. Geburtstag). Kinder unter 6 (vor dem 6. Geburtstag) in Begleitung eines Erwachsenen im Besitze eines FriPass erhalten kostenlosen Zutritt zu allen im Pass inbegriffenen Attraktionen (maximal 2 Kinder). Einzige Ausnahme bilden Les Bains de la Gruyère, wo Kinder von 4 bis 6 Jahren eine Reduktion von  30% auf den regulären Eintrittspreis erhalten. Kinder von 6 bis 16 Jahren reisen ebenfalls kostenlos auf dem gesamten Streckennetz von Frimobil.</p>
<p><strong>Müssen wir zwingend eine Familie sein, um den FriPass für Familien nutzen zu können?</strong>
<br>Der FriPass für Familien ist gültig für 2 Erwachsene und 2 Kinder von 6 bis 16 Jahren – es ist also egal, ob Sie verwandt sind oder nicht.</p>
<p><strong>Welches Angebot wählen wir, wenn wir 3 Kinder zwischen 6 und 16 Jahren haben?</strong>
<br>Am besten wählen Sie einen FriPass für Familien (2 Erwachsene und 2 Kinder) und einen FriPass für Kinder von 6 – 16 Jahren.</p>
<p><strong>Gibt es eine Preisreduktion für Familien mit einem Abonnement für den öffentlichen Verkehr?</strong>
<br>Nein, der Preis für den FriPass für Familien ist bereits sehr attraktiv, es gibt keine weiteren Reduktionen.</p>
<p><strong>Gibt es eine Preisreduktion für Kinder mit einem Abonnement für den öffentlichen Verkehr?</strong>
<br>Nein, alle Kinder von 6 – 16 Jahren bezahlen den gleichen Preis.</p>
<p><strong>Ich habe einen FriPass geschenkt bekommen. Wie lange habe ich Zeit, um ihn zu benutzen?</strong>
<br>Der FriPass ist ein Jahr nach Ausstellung gültig, Sie müssen also das auf Ihrem FriPass aufgedruckte Datum überprüfen.</p>
<p><strong>Ich besitze ein Abonnement Frimobil 3 Zonen, kann ich den FriPass für CHF 30.- kaufen?</strong>
<br>Nein, der FriPass für CHF 30.- gilt nur für Besitzer folgender Abonnemente: Generalabonnement, Halbtax-Abonnement, Frimobil alle Zonen oder Swiss Travel Pass. Das Abonnement muss bei einer Kontrolle vorgewiesen werden.</p>
<p><strong>Was muss ich im Falle eines Verlustes meines FriPass tun?</strong>
<br>Der FriPass kann weder ersetzt noch umgetauscht werden.</p>
<h3>ÖFFENTLICHE VERKEHRSMITTEL</h3>
<p><strong>Wo können wir gratis mit dem FriPass reisen?</strong>
<br>Sie reisen kostenlos auf dem gesamten <a href="http://www.frimobil.ch/files/pdf2/Plan_frimobil.pdf" target="_blank">Streckennetz von Frimobil.</a></p>
<p><strong>Kann ich mit allen im Kanton Freiburg tätigen Transportunternehmen reisen?</strong>
<br>Ja, Sie können mit allen Transportunternehmen auf dem Netz von Frimobil reisen (SBB, TPF, BLS, Postauto, VMCV, Goldenpass).</p>
<p><strong>Können wir unsere Fahrräder in den öffentlichen Verkehrsmitteln transportieren?</strong>
<br>Ja, der Fahrradtransport ist - bei genügend Platz - im FriPass inbegriffen (Maximum 4 Fahrräder für den FriPass für Familien). Bitte konsultieren Sie vorgängig die Transportbedingungen des jeweiligen Transportunternehmens.</p>
<p><strong>Was muss ich tun, wenn ich in der 1. Klasse reisen möchte?</strong>
<br>Sie müssen beim entsprechenden Transportunternehmen einen Aufpreis für die gewählte Strecke bezahlen.</p>
<p><strong>Wo finde ich die Fahrpläne?</strong>
<br>Sie finden die Fahrpläne unter <a href="http://www.tpf.ch/de" target="_blank">www.tpf.ch</a>.</p>
<h3>TOURISTISCHE ATTRAKTIONEN</h3>
<p><strong>Sind die touristischen Attraktionen jeden Tag geöffnet?</strong>
<br>Jede Attraktion hat ihre eigenen Öffnungszeiten. Sie können diese auf den jeweiligen Webseiten einsehen oder auf <a href="Lien sur les activités" target="_blank">unserer Aktivitäten Liste)</a></p>
<p><strong>Wie viel kostet eine Hin- und Rückfahrt auf den Gipfel des Moléson mit dem FriPass?</strong>
<br>Der FriPass beinhaltet 2 Streckenabschnitte. Für eine Hin- und Rückfahrt auf den Gipfel müssen Sie also noch CHF 22.-/Erwachsener bezahlen.</p>
<h3>ONLINE-KAUF DES FRIPASS</h3>
<p><strong>Ist die Verbindung für den Online-Kauf des FriPass gesichert?</strong>
<br>Ja, es ist eine gesicherte Verbindung.</p>
<p><strong>Wie lange im Voraus kann ich den FriPass kaufen?</strong>
<br>Sie können den FriPass bis zu 12 Monate im Voraus kaufen.</p>
<p><strong>Muss ich die von mir gewünschten Reisdaten bereits beim Kauf angeben?</strong>
<br>Ja, im Online-Shop müssen Sie die Daten schon im Voraus angeben.</p>