<h3>Liste der FriPass Verkaufsstellen</h3>
<p><strong>Online</strong>
<ul>
<li><a href="http://www.fripass.ch/de" target="_blank">www.fripass.ch</a></li>
</ul>
<p><strong>TPF Schalter an den Bahnhöfen:</strong>
<ul>
<li>Fribourg</li>
<li>Bulle</li>
<li>Châtel-St-Denis</li>
<li>Courtepin</li>
</ul>
<p><strong>Tourismusbüros:</strong>
<ul>
<li>Freiburg Tourismus, Fribourg</li>
<li>La Gruyère Tourisme, Bulle</li>
<li>Tourismusbüro Gruyères, Gruyères</li>
<li>Tourismusbüro Moléson, Moléson-sur-Gruyères</li>
<li>Tourismusbüro Charmey, Charmey</li>
<li>Tourismusbüro Jaun, Jaun</li>
<li>Estavayer-le-Lac-Payerne Tourisme, Estavayer-le-Lac</li>
<li>Murten Tourismus, Murten</li>
<li>Romont Tourismus, Romont</li>
<li>Tourismusbüro Châtel-St-Denis/Les Paccots, Châtel-St-Denis</li>
<li>Info-Punkt, Les Paccots</li>
<li>Schwarzsee Tourismus, Schwarzsee</li>
</ul>
<p><strong>Touristische Partner:</strong>
<ul>
<li>Papiliorama, Kerzers</li>
<li>Schifffahrtsgesellschaft des Neuenburger- und Murtensees, Murten</li>
<li>Abteikirche, Payerne</li>
<li>Römisches Museum Vallon </li>
</ul>
<p><strong>Unterkünfte:</strong>
<ul>
<li>Au Parc Hôtel, Fribourg</li>
<li>Best Western Hôtel de la Rose, Fribourg</li>
<li>Hôtel Restaurant l'Acacia, Marly</li>
<li>Hôtel Ibis Bulle La Gruyère, Bulle</li>
<li>Hôtel Broc'aulit, Broc</li>
<li>Hôtel de Ville, Semsales</li>
<li>Hôtel de la Gare, Montbovon</li>
<li>Golf Resort La Gruyère, Pont-la-Ville</li>
<li>Anna's Bed & Breakfast, Schwarzsee</li>
<li>Hotel Bad, Schwarzsee</li>
<li>Hôtel de l’Ours, Sugiez</li>
<li>Hôtel-Restaurant-Cave Bel-Air, Praz (Vully)</li>
</ul>
<p><strong>SBB Schalter im Kanton Fribourg:</strong>
<ul>
<li>FriPass verfügbar mit dem RailAway-Angebot</li>
<li>Gutschein einlösbar an einer der nachfolgenden Verkaufsstellen</li>
<li>Ausser : guichets CFF à négocier pour cartes (Morat, Romont, etc.)</li>
</ul>
<p><strong>SBB Schalter  ausserhalb des Kantons :</strong>
<ul>
<li>FriPass verfügbar mit dem RailAway-Angebot</li>
<li>20% Reduktion auf die Anreise in den Kanton Fribourg</li>
</ul>