<h3>Liste der FriPass Verkaufs- und Eintauschstellen</h3>
<p><strong>Online</strong>
<ul>
<li><a href="http://www.fripass.ch/de" target="_blank">www.fripass.ch</a></li>
</ul>
<p><strong>TPF Schalter an den Bahnhöfen:</strong>
<ul>
<li>Fribourg</li>
<li>Bulle</li>
<li>Châtel-St-Denis</li>
<li>Estavayer-le-Lac</li>
</ul>
<p><strong>BLS Schalter an den Bahnhöfen:</strong>
<ul>
<li>Murten</li>
<li>Ins</li>
<li>Düdingen</li>
<li>Schwarzenburg</li>
</ul>
<p><strong>Tourismusbüros:</strong>
<ul>
<li>Freiburg Tourismus, Fribourg</li>
<li>Tourismusbüro Bulle, Bulle</li>
<li>Tourismusbüro Gruyères, Gruyères</li>
<li>Tourismusbüro Charmey, Charmey</li>
<li>Tourismusbüro Jaun, Jaun</li>
<li>Murten Tourismus, Murten</li>
<li>Vully Tourisme, Sugiez</li>
<li>Vully-les-Lacs Tourisme, Salavaux</li>
<li>Romont Tourismus, Romont</li>
<li>Tourismusbüro Châtel-St-Denis/Les Paccots, Châtel-St-Denis</li>
<li>Info-Stelle, Les Paccots</li>
<li>Schwarzsee Tourismus, Schwarzsee</li>
<li>Avenches Tourisme, Avenches</li>
</ul>
<p><strong>Touristische Partner:</strong>
<ul>
<li>Schifffahrtsgesellschaft des Neuenburger- und Murtensees, Murten</li>
</ul>
<p><strong>Unterkünfte:</strong>
<ul>
<li>Au Parc Hôtel, Fribourg</li>
<li>Best Western Hôtel de la Rose, Fribourg</li>
<li>NH Hotel, Fribourg</li>
<li>Hôtel Ibis Bulle La Gruyère, Bulle</li>
<li>Hôtel de Ville, Semsales</li>
<li>Hôtel de Gruyères, Gruyères</li>
</ul>
