<h2>ALLGEMEINE NUTZUNGSBEDINGUNGEN</h2>
<h3>Nutzungsbedingungen</h3>
<p><strong>Allgemein</strong>
<br>Der FriPass ist persönlich und nicht übertragbar. Er ist nur gültig, wenn er ordnungsgemäss und mit Kugelschreiber ausgefüllt ist (Name/Vorname, Ausstellungsdatum, Gültigkeits-Datum/-Daten, Stempel und Unterschrift der Verkaufsstelle) und mit den gewählten Daten in den entsprechenden Feldern versehen ist. Streichungen sind nicht gültig.<br>Ein nicht oder nur teilweise ausgefüllter FriPass gilt als ungültiger Fahrausweis.<br>Ein Identitätsnachweis kann bei der Nutzung der Karte verlangt werden. Der FriPass wird weder rückerstattet noch ersetzt. Er ist 1 Jahr gültig ab Ausstelldatum.</p>
<p>Kauf des FriPass im Internet<br>Der FriPass kann online bestellt werden (e-ticket). In diesem Falle muss er auf weissem Papier (Format A4)  ausgedruckt oder im Mobiltelefon des Kunden gespeichert werden. Der Text muss gut lesbar sein.<br>Der Kunde muss sicherstellen, dass sein Mobiltelefon während der gesamten Nutzung des FriPass über genügend Akku verfügt. Um eine ordnungsgemässe Kontrolle zu ermöglichen, hat das Kontroll-Personal das Recht, das Mobiltelefon wenn nötig anzufassen/zu bedienen. Der Kunde muss bereits vor Fahrantritt im Besitze des e-tickets sein. Nicht komplett lesbare e-tickets sind ungültig.</p>
<p><strong>FriPass 1, 2 oder 3 Tage</strong>
<br>Die Versionen FriPass für 2 oder 3 Tage sind während einem Monat gültig. Ab dem ersten Nutzungstag müssen also die weiteren Nutzungstage innerhalb einem Monat ab diesem Datum erfolgen. Die Nutzungstage müssen nicht zwingend an aufeinanderfolgenden Tagen stattfinden.</p>
<p>Versionen FriPass für 2 oder 3 Tage, gekauft an einer Verkaufsstelle<br>Beim Kauf müssen die gewünschten Nutzungsdaten noch nicht angegeben werden.  Das erste Datum kann frei gewählt und entsprechend eingetragen werden. Das Nutzungsdatum muss immer vor Fahrantritt eingetragen werden.</p>
<p>Versionen FriPass für 2 oder 3 Tage, gekauft im Internet<br>Beim Kauf eines e-tickets müssen die gewünschten Daten bereits bei der Bestellung angegeben werden.</p>
<p><strong>Erwachsene im Besitz eines Abonnementes</strong>
<br>Der FriPass für CHF 30.- (resp. 55.- oder 80.-) ist für Erwachsene bestimmt, die eines der folgenden Abonnemente besitzen, das auf dem gesamten Frimobil Streckennetz gültig ist:  Generalabonnement, Halbtax-Abonnement, Frimobil alle Zonen oder Swiss Travel. Das Abonnement muss bei einer Kontrolle vorgewiesen werden.</p>
<p><strong>Kinder von 6 – 16 Jahren</strong>
<br>Der FriPass für CHF 20.- (resp. 35.- oder 50.-) ist für Kinder von 6 bis 16 Jahren (bis zum 16. Geburtstag).</p>
<p><strong>Kinder unter 6 Jahren</strong>
<br>Kinder unter 6 Jahren  (vor dem 6. Geburtstag) in Begleitung eines Erwachsenen, der im Besitz eines FriPass ist, haben kostenlosen Zugang zu allen im FriPass angebotenen Leistungen (max. 2 Kinder pro Erwachsenen. Sie reisen ebenfalls gratis auf dem Streckennetz von Frimobil.</p>
<p><strong>Familie (2 Erwachsene + 2 Kinder)</strong>
<br>Der FriPass für Familien ist gültig für 2 Erwachsene und 2 Kinder von 6 – 16 Jahren (vor dem 16. Geburtstag). Die 4 Personen müssen nicht miteinander verwandt sein. Ein Pass gilt für alle 4 Teilnehmer.</p>
<p><strong>Attraktionen</strong>
<br>Der FriPass ermöglicht Zugang zu allen auf der Internetseite und in der Broschüre aufgelisteten Leistungen. Der FRIpass gewährt während der Gültigkeitsdauer einen einmaligen Zugang zu jeder Attraktion. Der Kunde ist selber dafür verantwortlich, sich über Fahrplänen und/oder Öffnungszeiten zu informieren. Ausserplanmässige Schliessungen (Feiertage, schlechtes Wetter etc.) sowie Gratisleistungen/-eintritte geben kein Anrecht auf Verlängerung der Gültigkeitsdauer oder Erstattung des Kaufpreises. Der FriPass ist nicht kumulierbar mit anderen Reduktionen.<br>Die Interessengemeinschaft «Projet touristique - Carte découverte» ist nicht verantwortlich für allfällige Anpassungen/Änderungen der Informationen der einzelnen Attraktionen.</p>
<p><strong>Öffentliche Verkehrsmittel</strong>
<br>Der FriPass ist nur in der 2. Klasse und an den gewählten Daten gültig. Er gibt Anrecht auf freie Fahrt auf allen Linien des Streckennetzes von Frimobil und weiteren Transportunternehmen in diesem Netz (ausser Sonderfahren) innerhalb der Gültigkeitsdauer des Passes. Besitzer eines Abonnements (Generalabonnement, Halbtax-Abonnement, Frimobil alle Zonen, Swiss Travel Pass) müssen dieses bei einer Kontrolle gleichzeitig mit dem FriPass vorzeigen. Wird eine kostenpflichtige Zusatz-Dienstleistunge (z.B. Klassenwechsel) in Anspruch genommen, wird der FriPass einem Fahrausweis des Transportunternehmens gleich gestellt und ein Aufpreis muss bezahlt werden. Der FriPass unterliegt den Tarifbestimmungen 651.4.</p>
<p><strong>Velos</strong>
<br>Inhaber eines FriPass können ihr Velo kostenlos mit den öffentlichen Verkehrsmitteln transportieren (4 Velos für die Familienkarte). Der Kunde muss vorgängig die Transportbedingungen des jeweiligen Transportunternehmens konsultieren.</p>
<p><strong>Datenschutz</strong>
<br>Die Interessengemeinschaft «Projet touristique - Carte découverte» verpflichtet sich, die persönlichen Daten der Kunden dem Bundesgesetz über den Datenschutz entsprechend zu behandeln. Persönliche Angaben können benutzt werden, um Marketing-Informationen zum FriPass zu versenden.</p>
<h3>Allgemeine Verkaufsbedingungen</h3>
<p><strong>Preise</strong>
<br>Alle Bestellungen werden zu jenen Preisen verrechnet, die zum Zeitpunkt des Einkaufs gültig sind. Die Preise verstehen sich einschliesslich Steuern.</p>
<p>Bezahlung, Sicherung und Bestätigung Ihrer Bestellung<br>Sie können Ihre Bestellung mittels Kreditkarte über eine gesicherte Verbindung.</p>
<p><strong>Saferpay</strong>
<br>Die auf unserer Webseite getätigten Zahlungen werden durch das System Saferpay (www.saferpay.com) gesichert. Alle Informationen, die für die Ausführung der Zahlung ausgetauscht werden, sind SSL-verschlüsselt. Diese Daten können weder ermittelt, abgefangen, noch von Dritten verwendet werden. Sie werden auch nicht in unseren Datensystemen abgespeichert. Folgende Zahlungsmittel werden akzeptiert: Visa, MasterCard.<br>Ihre Bestellung muss vollständig bezahlt werden, ansonsten wird sie nicht erfasst. Nicht vollständig bezahlte Bestellungen werden nicht ausgeliefert. Nach erfolgreicher Bezahlung erhalten Sie ein E-Mail mit den Details Ihrer Bestellung.</p>
<p><strong>Fahrscheine</strong>
<br>Beschädigte Fahrscheine werden nicht ersetzt. Jegliche Vervielfältigung, Abänderung oder Fälschung ist verboten. Verfälschte Fahrscheine sind nicht gültig. Fahrscheine werden nicht zurückgenommen, rückerstattet oder ersetzt.</p>
<p><strong>Datenschutz</strong>
<br>Alle Angaben werden streng vertraulich sowie unter Berücksichtigung der geltenden rechtlichen Bestimmungen zum Datenschutz behandelt. Die von Ihnen eingegebenen Daten werden nur für die Bearbeitung Ihrer Bestellung genutzt und nicht an Dritte weitergegeben.</p>
<p><strong>Übermittlung von E-Newsletter und E-Mail</strong>
<br>Die Interessengemeinschaft «Projet touristique - Carte découverte» verschickt Info-Newsletter mit weiteren Informationen z.B. über akualisierte Webseiten oder spezielle Angebote per E-Mail. Für den Fall, dass Sie sich für diesen Dienst registrieren lassen, weisen wir Sie darauf hin, dass die Übermittlung von E-Mails generell unverschlüsselt erfolgt und unter anderem das Risiko beinhaltet, dass solche Daten durch Drittpersonen abgefangen und eingesehen werden können.</p>
<p><strong>Aussteigeverfahren (Opt Out Policy)</strong>
<br>Die Abmeldung des www.fripass.ch Newsletter ist jederzeit möglich. Jeder Newsletter enthält einen Direktlink, welcher die Abmeldung einfach und automatisch vornimmt.</p>
<p><strong>Anwendbares Recht und Gerichtsbarkeit</strong>
<br>Es gilt ausschliesslich das Schweizer Recht. Eventuelle Rechtstreitigkeiten unterliegen der Gerichtsbarkeit des Gerichtshofs in Freiburg (Schweiz).</p>