<div id="le-concept" class="marginBottom">
	<div id="concept-intro">
		<div class="col-md-3 text-center">
			<img src="{{ asset('imgs/picto-concept-fripass.png') }}" />
		</div>
		<div class="col-md-9">
			<p>
				Le <span class="colorCC205C">FriPass</span> vous ouvre les portes du canton de Fribourg !<br>
				Vous <span class="colorCC205C">profitez</span> pleinement de toutes les beautés que ses régions ont à vous offrir !<br>
			</p>
			<br>
			<p><span class="colorCC205C">Culture, activités, paysages, tout est à portée de main.</span></p>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="row">
		<div class="col-md-offset-2 col-md-8 text-center colorCC205C voyager-libr">
			VOYAGER LIBREMENT EN TRANSPORTS PUBLICS SUR TOUT LE RÉSEAU FRIMOBIL, C’EST :
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 colorCC205C text-center">
			<div class="concept-accroche">
				<div class="concept-valign-bloc">
					S’EN METTRE PLEIN LA VUE
				</div>
			</div>
		</div>
		<div class="col-md-3 colorCC205C text-center">
			<div class="concept-accroche">
				<div class="concept-valign-bloc">
					DU FUN POUR LES PETITS
				</div>
			</div>
		</div>
		<div class="col-md-3 colorCC205C text-center">
			<div class="concept-accroche">
				<div class="concept-valign-bloc">
					L’ESPRIT SEREIN POUR LES PLUS GRANDS
				</div>
			</div>
		</div>
		<div class="col-md-3 colorCC205C text-center">
			<div class="concept-accroche">
				<div class="concept-valign-bloc">
					ÊTRE PLUS PROCHE DE LA NATURE
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row ">
	<div class="col-md-5 col-lg-5 col-sm-12 col-xs-12 margin-xs-Bottom margin-sm-Bottom">
		<div id="concept-accroche-left" class="colorCC205C">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<strong class="strong" style="font-size: 30px;">Visiter le canton avec le FriPass, c’est :</strong>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-5 col-sm-5 col-xs-12 text-center">
					<span class="" style="font-size: 105px;font-weight: bold;">30</span>
				</div>
				<div class="col-lg-8 col-md-7 col-sm-7 col-xs-12 concept-valign-bloc">
					ATTRACTIONS TOURISTIQUES GRATUITES
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
					<span class="" style="font-size: 105px;font-weight: bold;">30%</span>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 concept-valign-bloc">
					DE RÉDUCTION SUR 3 ATTRACTIONS
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-7 col-lg-7 col-sm-12 col-xs-12">
		<div id="concept-accroche-right">
			16 idées de randonnée pour<br>
			s’imprégner de paysages magiques
			<div class="btns">
				<a class="btn btn-readmore" href="{{ path('oz_tpf_app_menu_randonnees') }}">{{ 'savoir-plus'|trans }}</a>
			</div>
		</div>
	</div>
</div>