<h2>Spot vidéo FriPass</h2>
<p>Entrez dans l’univers FriPass</p>
<a class="btn btn-readmore" href="https://youtu.be/hQ-f5OJrHBw?list=PLfiS05weduVXAm-KffZMJPg2V2JwUcjxb" target="_blank">{{ 'savoir-plus'|trans }}</a>