<img src="{{ asset('bundles/content/slider/slide-1.jpg') }}" alt="...">
<div class="carousel-caption hidden-xs">
	<div class="content-slide-1 col-sm-6">
		<div class="content-slide">Libre accès à 30 attractions touristiques</div>
	</div>
	<div class="content-slide-2 col-sm-offset-6 col-sm-6">
		<div class="content-slide">Voyage illimité en transports publics dans tout le canton de Fribourg</div>
	</div>
</div>