<img src="{{ asset('bundles/content/slider/slide-2.jpg') }}">
<div class="carousel-caption hidden-xs">
	<div class="content-slide-1">
		<div class="content-slide">Bougez plus,<br>dépensez-moins !</div>
	</div>
	<div class="content-slide-2">
		<div class="content-slide">
			<p>Prix moyen d'une activité : <strong>CHF 11.-</strong></p>
			<p>Prix moyen d'une entrée au musée : <strong>CHF 7.70</strong></p>
			<p>Titre de transport pour une journée sur tout le réseau Frimobil : <strong>CHF 33.60</strong></p>
		</div>
	</div>
	<div class="content-slide-3">
		<div class="content-slide">Vous avez déjà fait des économies !</div>
	</div>
</div>