<div id="slide_0">
	<img src="{{ asset('bundles/content/slider/slide-1.jpg') }}" alt="...">
	<div class="carousel-caption hidden-xs">
		<div class="content-slide-1 col-sm-6">
			<div class="content-slide">Kostenloser Zugang zu 30 touristischen Attraktionen</div>
		</div>
		<div class="content-slide-2 col-sm-offset-6 col-sm-6">
			<div class="content-slide">Freie Fahrt mit den öffentlichen Verkehrsmitteln im ganzen Kanton Freiburg</div>
		</div>
	</div>
</div>