<div id="le-concept" class="marginBottom">
	<div id="concept-intro">
		<div class="col-md-3 text-center">
			<img src="{{ asset('imgs/picto-concept-fripass.png') }}" />
		</div>
		<div class="col-md-9">
			<p>
				Der <span class="colorCC205C">FriPass</span> öffnet Ihnen die Türen zum Kanton Freiburg!<br>
				Sie <span class="colorCC205C">profitieren</span> umfassend von attraktiven Angeboten:<br>
			</p>
			<br>
			<p><span class="colorCC205C">Kultur, Aktivitäten, Landschaften – alles in Reichweite.</span></p>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="row hidden-xs">
		<div class="col-md-offset-2 col-md-8 text-center colorCC205C voyager-libr">
			Ungehindert mit öffentlichen Verkehrsmitteln auf dem gesamten Frimobil-Netz reisen heisst:
		</div>
	</div>
	<div class="row hidden-xs">
		<div class="col-md-3 colorCC205C text-center">
			<div class="concept-accroche">
				<div class="concept-valign-bloc">
					Gute Aussichten
				</div>
			</div>
		</div>
		<div class="col-md-3 colorCC205C text-center">
			<div class="concept-accroche">
				<div class="concept-valign-bloc">
					Spass für die Kleinen
				</div>
			</div>
		</div>
		<div class="col-md-3 colorCC205C text-center">
			<div class="concept-accroche">
				<div class="concept-valign-bloc">
					Erholung für die Grossen
				</div>
			</div>
		</div>
		<div class="col-md-3 colorCC205C text-center">
			<div class="concept-accroche">
				<div class="concept-valign-bloc">
					Nähe zur Natur
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row ">
	<div class="col-md-5 col-lg-5 col-sm-12 col-xs-12 margin-xs-Bottom margin-sm-Bottom">
		<div id="concept-accroche-left" class="colorCC205C">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<strong class="strong" style="font-size: 30px;">Mit dem FriPass erhalten Sie:</strong>
				</div>
			</div>
			<div class="row info-1">
				<div class="col-lg-4 col-md-5 col-sm-5 col-xs-12 number">
					<span>30</span>
				</div>
				<div class="col-lg-8 col-md-7 col-sm-7 col-xs-12 concept-valign-bloc">
					Gratis-Eintritte für touristische Attraktionen
				</div>
			</div>
			<div class="row info-2">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 number">
					<span>30%</span>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 concept-valign-bloc">
					Eine Ermässigung von 30% für weitere Besuchsorte
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-7 col-lg-7 col-sm-12 col-xs-12 hidden-xs">
		<div id="concept-accroche-right">
			16 Wander-Ideen, um die wunderbaren<br>
			Landschaften zu erleben und geniessen
			<div class="btns">
				<a class="btn btn-readmore" href="{{ path('oz_tpf_app_menu_randonnees') }}">{{ 'savoir-plus'|trans }}</a>
			</div>
		</div>
	</div>
</div>