<div class="activite">
	<div class="activite-img">
		<img src="{{ asset('bundles/content/treks/thumbnail/culture_papier_peint_vignette.jpg') }}"/>
	</div>
	<a href="">
		<div class="activite-nom">
			KULTUR UND TAPETEN 
		</div>
	</a>
	<div class="activiteContent">
		<div class="activite-content">
			<div class="row">
				<div class="col-md-6">
					<h2>KULTUR UND TAPETEN</h2>
					<br>
					<span class="activite-sous-titre">Beispiel für einen Erwachsenen mit Abfahrtsort Châtel-St-Denis</span>
					<br>
					<p>
						09.18 Uhr: Zug in Richtung Bulle (Ankunft um 09.44 Uhr)<br>
						09.50 Uhr: Zug in Richtung Romont (Ankunft um 10.07 Uhr)
					</p>
					<p><i>
						Steigen Sie aus dem Zug und spazieren Sie gemächlich den Hügel von Romont hinauf. Flanieren Sie durch die gepflasterten und hübschen Gässchen. Beim Schloss angekommen, treten Sie ein in eine Welt voller Farben und Licht – das Vitromusée. Nach dem Besuch des Museums machen Sie sich auf den Glasmalereipfad (ca. 2.40 Stunden), der Sie unter anderem nach Mézières (FR) führt, wo Sie im Tapetenmuseum seltene Stücke und Meisterwerke bewundern können.
					</i></p>
					<p>
						16.28 Uhr: Bus ab Mézières (FR) in Richtung Bulle (Ankunft um 16.58 Uhr)
					</p>
					<p><i>
					Nutzen Sie die Gelegenheit für einen Rundgang durch die Stadt Bulle - und vergessen Sie dabei nicht, die zahlreichen kulinarischen Spezialitäten der Region zu kosten!
					</i></p>
					<p>
						18.45 Uhr: Zug in Richtung Châtel-St-Denis (Ankunft um 19.10 Uhr)
					</p>
					<br>
					<p><strong>Preis für einen Erwachsenen mit Abfahrtsort Châtel-St-Denis</strong></p>
					<ul class="ptn-interet">
						<li>Ohne FriPass: CHF 50.60</li>
						<li>Mit FriPass: CHF 40.00</li>
					</ul>
					<br>
					<p><a class="rando-iti-link colorED891E" href="http://www.tpf.ch/de" target="_blank">> Fahrplan der öffentlichen Verkehrsmittel</a></p>
				</div>
				<div class="col-md-6">
					<p class="pull-right"><img src="{{ asset('bundles/content/treks/culture_papier_peint.jpg') }}" alt="Itinéraire culture et papier peint"/></p>
				</div>
			</div>
		</div>
	</div>
</div>
